<nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg navbar-dark">
  <div class="container">
    <button type="button" data-toggle="collapse" data-target="avbarMain" class="navbar-toggler navbar-toggler-right">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="" class="navbar-brand">Loc8r</a>
    <div id="navbarMain" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="login" class="nav-link" *ngIf="!isLoggedIn()">Sign in</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isLoggedIn()">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">{{ getUsername() }}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="doLogout()">Logout</a>
            </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <footer>
    <div class="row">
      <div class="col-12"><small>&copy; Getting Mean - Simon Holmes/Clive Harber 2018</small></div>
    </div>
  </footer>
</div>
