<nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg navbar-dark">
  <div class="container">
    <button type="button" data-toggle="collapse" data-target="#navbarMain" class="navbar-toggler navbar-toggler-right">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="" class="navbar-brand">Loc8r</a>
    <div id="navbarMain" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <footer>
    <div class="row">
      <div class="col-12"><small>&copy; Getting Mean - Simon Holmes/Clive Harber 2018</small></div>
    </div>
  </footer>
</div>
