<div class="row">
  <div class="col-12 col-md-6">
    <app-rating-stars [rating]="location.rating"></app-rating-stars>
    <p>{{ location.address }}</p>
    <div class="card card-primary">
      <div class="card-block">
        <h2 class="card-title">Opening hours</h2>
        <p class="card-text" *ngFor="let time of location.openingTimes" [ngSwitch]="time.closed">
          {{ time.days }} :
          <span *ngSwitchCase="true">Closed</span>
          <span *ngSwitchDefault>{{ time.opening + " - " + time.closing }}</span>
        </p>
      </div>
    </div>
    <div class="card card-primary">
      <div class="card-block">
        <h2 class="card-title">Facilities</h2>
        <span *ngFor="let facility of location.facilities" class="badge badge-warning">
          <i class="fa fa-check"></i>
          {{facility}}
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 location-map">
    <div class="card card-primary">
      <div class="card-block">
        <h2 class="card-title">Location map</h2>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{location.coords[1]}},{{location.coords[0]}}&zoom=17&size=400x350&sensor=false&markers={{location.coords[1]}},{{location.coords[0]}}&key={{googleAPIKey}}&scale=2" class="img-fluid rounded"/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card card-primary review-card">
      <div class="card-block">
        <button (click)="formVisible=true" class="btn btn-primary float-right">Add review</button>
        <h2 class="card-title">Customer reviews</h2>
        <div *ngIf="formVisible">
          <form (ngSubmit)="onReviewSubmit()">
            <hr>
            <h4>Add your review</h4>
            <div *ngIf="formError" class="alert alert-danger" role="alert">
              {{ formError }}
            </div>
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input [(ngModel)]="newReview.author" id="name" name="name" required="required" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="rating" class="col-sm-2 col-form-label">Rating</label>
              <div class="col-sm-10 col-md-2">
                <select [(ngModel)]="newReview.rating" id="rating" name="rating" class="form-control">
                  <option [ngValue]="5">5</option>
                  <option [ngValue]="4">4</option>
                  <option [ngValue]="3">3</option>
                  <option [ngValue]="2">2</option>
                  <option [ngValue]="1">1</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="review" class="col-sm-2 col-form-label">Review</label>
              <div class="col-sm-10">
                <textarea [(ngModel)]="newReview.reviewText" name="review" id="review" rows="5" class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary float-right" style="margin-left:15px">Submit review</button>
                <button (click)="formVisible=false" type="button" class="btn btn-default float-right">Cancel</button>
              </div>
            </div>
            <hr>
          </form>
        </div>
        <div *ngFor="let review of location.reviews | mostRecentFirst" class="row review">
          <div class="col-12 no-gutters review-header">
            <app-rating-stars [rating]="review.rating"></app-rating-stars>
            <span class="reviewAuthor">{{ review.author }}</span>
            <small class="reviewTimestamp">{{ review.createdOn | date : 'd MMMM yyyy'}}</small>
          </div>
          <div class="col-12">
            <p [innerHTML]="review.reviewText | htmlLineBreaks"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
