mixin outputRating(rating)
  small &nbsp;
    - for (let i = 1; i <= rating; i++)
      i.fas.fa-star
    - for (let i = rating; i < 5; i++)
      i.far.fa-star

mixin formatDate(dateString)
  - const date = new Date(dateString);
  - const monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  - const d = date.getDate();
  - const m = monthNames[date.getMonth()];
  - const y = date.getFullYear();
  - const output = `${d} ${m} ${y}`
  =output